@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #292B56;
  --white: #ffffff;
  --grey: #E5E5E5;
  --rankGreen: #47C03F;
  --rankYellow: #FFA620;
  --rankGrey: #677BB0;
  --rankRed: #BD2A2A;
  --factColor: #373B93;
  --textGrey: #828282;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--grey);
}

.header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: white;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin-left: 10px auto;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-left {
  float: left;
  height: auto;
  margin: 0 auto;
  padding-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

.header-right {
  float: right;
  height: auto;
  margin: 0 auto;
}

.header-search {
  width: 40%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border: 1px solid black;
  border-radius: 4px;
}


.container {
  max-width: 100%;
  overflow: auto;
  padding: 10px;
  position: relative;
  text-align: left;
}


.container-list-item {
  overflow: auto;
  margin-bottom: 10px;
  position: relative;
  border-radius: 8px;
}

.container-list-item-border {
  overflow: auto;
  margin-bottom: 10px;
  position: relative;
  border-radius: 8px;
  maxWidth: 50%;
}

.container-right {
  max-width: 30%;
  float: right;
  height: auto;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
}

.container-center {
  max-width: 42%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 4px;
  text-align: center;
}

.container-left {
  max-width: 80%;
  float: left;
  height: auto;
  margin: 0 auto;
  border-radius: 4px;
  padding: 10px;
}

.product {
  width: 100%;
  background-color: red;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.btn {
  display: inline-block;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
  margin-top: 0px;
  text-decoration: none;
  font-size: 18px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}